footer(class="page-footer")
    div(class="container")
        div(class="row")
            div(class="col 16 s12")
                h5(class="white-text") Footer Content
                ul
                    li: a(class="grey-text text-lighten-3", href="#!") Home
                    li: a(class="grey-text text-lighten-3", href="#!") Order
                    li: a(class="grey-text text-lighten-3", href="#!") Profile
                    li: a(class="grey-text text-lighten-3", href="#!") literally nowhere.
    div(class="footer-copyright")
        div(class="container")
            a(class="grey-text text-lighten-3 left", href="#!") Copyright

            a(class="grey-text text-lighten-3 right", href="#!") More Links
