#login.modal
  .modal-content
    a.modal-action.modal-close.grey-text.right(href='#!')
      i.material-icons clear
    .container(style='padding-bottom: 50px;')
      .row
        .col.offset-s4.s4.l12
          img(src='/images/brands/fetch/fetch_color.png').responsive-img
      form#loginmodal(action='/auth/login', method='POST')
        .input-field
          input#username.validate(type='text', name='username', required='')
          |  
          label(for='username') Username
        .input-field
          input#password.validate(type='password', name='password', required='')
          |  
          label(for='password') Password
        |  
        a.grey-text.left(href='/auth/register') Register for free
        |  
        button.btn.waves-effect.waves-light.right.modal-action.modal-close(type='submit') Submit

script.
  //XMLHTTP Request
  $('#loginmodal').submit(function(event){
    event.preventDefault();
    $.ajax({
        url : "/auth/login",
        type : "post",
        data : $('#loginmodal').serialize(),
        error : function(data, error, texterr){
          swal({
              title : "Invalid Credentials",
              type : "error",
              showConfirmButton : false,
              allowOutsideClick : true,
              timer : 2000
          });
        },
        success : function (data, textStatus, jqHXT){
          swal({
              title : "Succsessfull Login",
              type : "success",
              showConfirmButton : false,
              allowOutsideClick : true,
              timer : 2000
          });
          location.reload();
        } 
    });
  });
      
block on_document_ready
  script.
    //Modal Initializer
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });