header
  nav
    .nav-wrapper
      .row.scale-transition
        #logo.col.s1.m1
          a.brand-logo.left(href='#') Logo
        .col.s9.hide-on-small-only
          form
            .input-field
              input#search(type='search')
              |  
              label.label-icon(for='search')
                i.material-icons search
              |  
              i.material-icons close
        #login_btn.col.offset-s9.s2.m2
          ul.right
            li
              a.btn.waves-light.waves-effect(href='#login') Log In
    .nav-content.hide-on-med-and-up(style='background-color: #ee6e73;')
      form
        .input-field
          input#search(type='search')
          |  
          label.label-icon(for='search')
            i.material-icons search
          |  
          i.material-icons close

#login.modal
  .modal-content
    a.modal-action.modal-close.grey-text.right(href='#!')
      i.material-icons clear
    .container(style='padding-bottom: 50px;')
      h3 Log In
      form(action='#', method='POST')
        .input-field
          input#username.validate(type='text', name='username', required='')
          |  
          label(for='username') Username
        .input-field
          input#password.validate(type='password', name='password', required='')
          |  
          label(for='password') Password
        |  
        a.grey-text.left(href='/register') Register for free
        |  
        button.btn.waves-effect.waves-light.right(type='submit') Submit

block on_document_js
  script.
      //Modal Initializer
      $(document).ready(function(){
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal').modal();
        });