extends layouts/default.pug

block content
	.container
		form(action='#', method='POST')
			.row
				.input-field.col.s12.m10
					input(type='text' id='street' name='street' validate='' value=user.address.street)
					|  
					label(for='street') Street
				.input-field.col.s12.m2
					input(type='text' id='number' name='number' validate='' value=user.address.number)
					|  
					label(for='number') Number
			.row
				.input-field.col.s12.m3
					input(type='text' id='postcode' name='postcode' validate='' value=user.address.postcode)
					|  
					label(for='postcode') Postcode
				.input-field.col.s12.m9
					input(type='text' id='city' name='city' validate='' value=user.address.city)
					|  
					label(for='city') City
			.row
				.input-field.col.s12.m12.l4
					input(type='password' id='oldpassword' name='oldpassword' validate='')
					|  
					label(for='oldpassword') Current Password
				.input-field.col.s12.m6.l4
					input(type='password' id='newpassword' name='newpassword' validate='')
					|  
					label(for='newpassword') New Password
				.input-field.col.s12.m6.l4
					input(type='password' id='newpasswordrepeat' name='newpasswordrepeat' validate='')
					|  
					label(for='newpasswordrepeat') Repeat New Password
			.row
				.col.s12
					button(type='submit' class='btn waves-effect waves-light right') Save

block variables
	- var authenticated = authstate