extends layouts/default.pug

block content
    .container(style='padding-bottom: 50px;')
        form#loginform(action='/auth/login', method='POST')
            .input-field
                input#username.validate(type='text', name='username', required='')
                |
                label(for='username') Username
            .input-field
                input#password.validate(type='password', name='password', required='')
                |
                label(for='password') Password
            |
            a.grey-text.left(href='/auth/register') Register for free
            |
            button.btn.waves-effect.waves-light.right(type='submit') Submit


block variables
    - var authenticated = authstate

block ajax_scripts
    script.
        $('#loginform').submit(function(event){
            event.preventDefault();
            $.ajax({
                url : "/auth/login",
                type : "post",
                data : $('#loginform').serialize(),
                error : function(data, error, text){
                    swal({
                        title : "Invalid Credentials",
                        type : "error",
                        showConfirmButton : false,
                        allowOutsideClick : true,
                        timer : 2000
                    });
                },
                success : function (data, textStatus, jqHXT){
                    swal({
                        title : "Successful Login",
                        type : "success",
                        showConfirmButton : false,
                        allowOutsideClick : true,
                        timer : 2000
                    });
                    location.reload();
                } 
            });
        });

