extends layouts/default.pug

block content
    div(class="container")
        div(class="row")
            form(action="/login", method="POST")
                div(class="input-field col s12")
                    input(id="email" name="username" type="text" class="validate" required)
                    label(for="email") Username
                div(class="input-field col s12")
                    input(id="password" name="password" type="password" class="validate" required)
                    label(for="password") Password
                div(class="center")
                    button(class="btn waves-effect waves-light" type="submit" name="action") Login
                        i(class="material-icons right") send


