extends layouts/default.pug

block content
    div(class="container")
        div(class="row")
            form(action="/auth/login", method="POST")
                div(class="input-field col s12")
                    input(id="username" name="username" type="text" class="validate" required)
                    label(for="username") Username
                div(class="input-field col s12")
                    input(id="password" name="password" type="password" class="validate" required)
                    label(for="password") Password
                div(class="row")
                    a.grey-text.left(href='/auth/register') Register for free
                    button(class="btn waves-effect waves-light right" type="submit" name="action") Login


block variables
  - var authenticated = authstate


