block content
	.container(id='map' style='position: relative; height:100%; width:100%;')
		script(src='/js/initMap.js')
		script(async defer src='https://maps.googleapis.com/maps/api/js?AIzaSyDo4VFphhmtH6Y4JbBJDh9hE76fCPAOlp4&callback=initMap')
