extends layouts/default.pug

block content
	.container
		h3 404
		.row
			.col.s12.m8
				p We are sorry, but this does not (yet) exist.
				br
				a(href="/auth/login") Login Page
				br
				a(href="/auth/register") Register Page
				br
				a(href="/profile") Profile Page

block variables
	- var authenticated = authstate