extends layouts/default.pug

block content
  .container
    form#registerform(action='#', method='POST')
      .row
        .input-field.col.s12.m6
          input#first_name(type='text', required='', validate='', name='first_name')
          |  
          label(for='first_name') First Name
        .input-field.col.s12.m6
          input#last_name(type='text', required='', validate='', name='last_name')
          |  
          label(for='last_name') Last Name
      .row
        .input-field.col.s12.m6
          input#user_name(type='text', required='', validate='', name='username')
          |  
          label(for='user_name') Username
        .input-field.col.s6
          input#email(type='email', required='', validate='', name='email')
          |  
          label(for='email') E-Mail Address
      .row
        .input-field.col.s12.m10
          input#street(type='text', required='', validate='', name='street')
          |  
          label(for='street') Street
        .input-field.col.s12.m2
          input#number(type='text', required='', validate='', name='number')
          |  
          label(for='number') Street Number
      .row
        .input-field.col.s12.m4
          input#postcode(type='text', required='', validate='', name='postcode')
          |  
          label(for='postcode') Postcode
        .input-field.col.s12.m8
          input#city(type='text', required='', validate='', name='city')
          |  
          label(for='city') City
      .row
        .input-field.col.s12.m6
          input#password(type='password', requeired='', validate='', name='password')
          |
          label(for='password') Password
        .input-field.col.s12.m6
          input#repeatpassword(type='password', requeired='', validate='', name='repeatpassword')
          |
          label(for='repeatpassword') Repeat your Password
      .row
          button(type='submit' class='btn waves-effect waves-light right') Register


block variables
  - var authenticated = authstate

block ajax_scripts
    script.
        $('#registerform').submit(function(event){
            event.preventDefault();
            $.ajax({
                url : "/auth/register",
                type : "post",
                data : $('#registerform').serialize(),
                error : function(data, error, text){
                    swal({
                        title : "Missmatched Input",
                        type : "error",
                        showConfirmButton : false,
                        allowOutsideClick : true,
                        timer : 2000
                    });
                },
                success : function (data, textStatus, jqHXT){
                    window.location.replace(data.redirect);
                }
            });
        });
