//- layout.pug
html
    head
        title Foodlane - #{title}

        //CSS Files
        link(rel='stylesheet', href='/css/materialize.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='/css/sweetalert.css')
        block links

        script(src='/js/jquery.js')
        script(src='/js/materialize.js')
        script(src='/js/sweetalert.min.js')

        //variables currently used authenticated
        block variables
    body
        include ../partials/layout/navbar.pug
        block content
        include ../partials/layout/footer.pug

        block scripts
        block ajax_scripts
        block on_document_ready